# Template file
[skyped]
# change to your skype username
username =
# use `echo -n foo|sha1sum` to generate this hash for your password
password =

# you have to change the following paths to your home directory:
cert =
key  =
port = 2727
