emacs.font: Consolas-11
emacs.FontBackend: xft

Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.dpi: 96
Xft.rgba: rgb

URxvt.depth: 32
URxvt.saveLines:32767
URxvt.scrollBar: false
URxvt*font: xft:Consolas:size=10
URxvt.letterSpace:	 -1
URxvt*termName:    rxvt
URxvt*shading: 30
URxvt*inheritPixmap: true
URxvt*tintcolor:#000000
URxvt.urgentOnBell: true
URxvt.termName: rxvt-256color
!tabbed-new
URxvt.perl-ext-common: keyboard-select,url-select,clipboard,default,searchable-scrollback
!URxvt.tabbed.tabbar-fg: 5
!URxvt.tabbed.tabbar-bg: 0
!URxvt.tabbed.tab-fg:    14
!URxvt.tabbed.tab-bg:    0

!URxvt.tabbed_new.tabren-bg: 3
!URxvt.tabbed_new.tabdiv-fg: 8
!URxvt.tabbed_new.tabbar-fg: 8
!URxvt.tabbed_new.tabbar-bg: 0
!URxvt.tabbed_new.tabsel-fg: 1
!URxvt.tabbed_new.tabsel-bg: 8
!URxvt.tabbed_new.tab-fg:    0
!URxvt.tabbed_new.tab-bg:    8

URxvt.urlLauncher: firefox
URxvt.underlineURLs: true
!URxvt.matcher.button  : 2
!URxvt.matcher.pattern.1: \\bwww\\.[\\w-]\\.[\\w./?&@#-]*[\\w/-]

URxvt.keysym.M-Escape: perl:keyboard-select:activate

URxvt.keysym.M-c:   perl:clipboard:copy
URxvt.keysym.M-v:   perl:clipboard:paste
URxvt.keysym.M-C-v: perl:clipboard:paste_escaped

URxvt.copyCommand:  xclip -i -selection clipboard
URxvt.pasteCommand: xclip -o -selection clipboard

!#include $HOME/.alexdot/Xresources/bubblegum
#include "Xresources/solarized"

